@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #111;
  color: white;
}

.table__border-bottom {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
