@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  @apply flex justify-center bg-[#111] text-white;
}
